nav {
  input {
    height: 100%;
  }
  p {
    margin: 0;
  }
  background-color: #dc0a2d;
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
  padding-inline: 5%;
}
.login-buttons-group {
  display: flex;
  gap: 20px;
}
img {
  height: 60px;
}
