<form [formGroup]="signUpForm" (ngSubmit)="register()">
  <input type="text" formControlName="firstName" placeholder="name" required/>
  <input type="text" formControlName="lastName" placeholder="last name" required/>
  <input type="email" formControlName="email" placeholder="email" required/>
  <input type="password" formControlName="password" placeholder="password" required/>
  <input
    type="password"
    formControlName="passwordConfirm"
    placeholder="confirm your password"
    required
  />
  <input type="checkbox" formControlName="terms" name="terms" id="terms" required/>
  <label for="terms">Sell your data to Team Rocket</label>
  <button>Register</button>
</form>
